/* Header component starts */
.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding:5px;
    margin:5px;
}

.logo{
    width:100px;
    height:100px;
}

.nav-items{
    display:flex;
}

.nav-items > ul{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
}

.nav-items > ul > li{
    padding:5px;
}
/* Header component ends */

/* Restaurant card component starts */
.body{
    padding:5px;
    margin:5px;
    border:1px solid #000;
}

.res-search{
    border:1px solid #000;
    padding:5px;
    margin:5px;
}

.res-container{
    display:flex;
    flex-wrap: wrap;
}

.res-logo{
    width:100%;
    height:150px;
}

.res-card{
    border:1px solid #000;
    padding:5px;
    margin:5px;
    width:200px;
}
/* Restaurant card component ends */
